body, html {
    background: #336699 url(/img/title-screen.png);
    bottom: 0;
    font-family: 'VT323', monospace;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

h1 { font-size: 7em; }
h2 { font-size: 5em; }
h3 { font-size: 3em; }
a {
    color: #336699;
}


#canvas-wrapper, canvas, #player, #player img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas-wrapper {
    border: 5px solid #D3CCB8;
    display: block;
    cursor: none;
    height: 450px;
    position: relative;
    left: 0;
    margin: 0 auto;
    top: 0;
    width: 700px;
}

canvas {
    image-rendering:optimizeSpeed;  
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -moz-crisp-edges; 


    background: #ECE5CE;
    cursor: none;
    transition: all 0.2s;
    position: absolute;
    width: 700px;
    height: 450px;
}

/*
@media only screen and (max-width : 800px) { 
    canvas {
        width: 300px;
        height: 200px;
    }
}
*/

canvas.game-over {
    background: #181818;
}
canvas.badHit {
    background: rgba(255,0,0,0.4);
}
canvas.goodHit {
    background: rgba(0,255,0,0.4);
}

#score {
    font-size: 6em;
    position: absolute;
}

#game-over {
    bottom: 80px;
    color: #ffffff;
    left: 0;
    position: fixed;
    opacity: 1;
    text-align: center;
    text-shadow: 0 0 28px #000000, 1px 1px 28px #000000;
    transition: all 0.3s;
    right: 0;
    top: 0;
    visibility: visible;
}
#game-over.hidden {
    opacity: 0;
    visibility: hidden;
}
#game-over h1,#game-over h2 {
    text-shadow: 1px 1px 0 #888, 2px 2px 0 #888, 3px 3px 0 #888;
}
#game-over h1 {
    margin-top: 1.2em;
}
#game-over h2 {
    margin-bottom: 0.1em;
}
#game-over h3 {
    margin: 0;
    padding: 0;
}
#game-over a {
    border-bottom: 1px solid #22ff22;
    color: #22ff22;
    text-shadow:  1px 1px 0 #000000, 2px 2px 0 #000000, 3px 3px 0 #000000;
    text-decoration: none;
}



.center { 
    text-align: center;
}
.description {
    padding-top: 1em;
}
.description h2 {
    margin: 0 0 0.1em 0;
    padding: 0;
}
.description p {
    padding: 0;
    margin: 0;
}
.italic { font-style: italic; }

/* Custom animations */
@-webkit-keyframes animation-pulse {
	0% { -webkit-transform: scale(1); } 30% { -webkit-transform: scale(1.02); } 100% { -webkit-transform: scale(1); }
}
@-moz-keyframes animation-pulse {
	0% { -moz-transform: scale(1); } 30% { -moz-transform: scale(1.02); } 100% { -moz-transform: scale(1); }
}
@-keyframes animation-pulse {
	0% { transform: scale(1); } 30% { transform: scale(1.02); } 100% { transform: scale(1); }
}

.pulse {
    -webkit-animation: animation-pulse 300ms infinite;
    -moz-animation: animation-pulse 300ms infinite;
    animation: animation-pulse 300ms infinite;
}

@-webkit-keyframes animation-pulse-big {
	0% { -webkit-transform: scale(1); } 30% { -webkit-transform: scale(1.05); } 100% { -webkit-transform: scale(1); }
}
@-moz-keyframes animation-pulse-big {
	0% { -moz-transform: scale(1); } 30% { -moz-transform: scale(1.05); } 100% { -moz-transform: scale(1); }
}
@-keyframes animation-pulse-big {
	0% { transform: scale(1); } 30% { transform: scale(1.05); } 100% { transform: scale(1); }
}
.pulse-big {
    -webkit-animation: animation-pulse-big 300ms infinite;
    -moz-animation: animation-pulse-big 300ms infinite;
    animation: animation-pulse-big 300ms infinite;
}
