body, html {
    background: #ffffff;
    bottom: 0;
    font-family: 'VT323', monospace;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

h1 { font-size: 7em; }
h2 { font-size: 5em; }
h3 { font-size: 3em; }
a {
    color: #336699;
}


#canvas-wrapper, canvas, #player, #player img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas-wrapper {
    background: #336699 url(/img/bg2.png);

    border: 5px solid #000000;
    display: block;
    cursor: none;
    position: relative;
    left: 0;
    margin: 0 auto;
    top: 0;

    width: 830px;
    height: 500px;
}

canvas {
    image-rendering:optimizeSpeed;  
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -moz-crisp-edges; 

    -webkit-transition: all 0.01s;
    -moz-transition: all 0.01s;
    -o-transition: all 0.01s;
    transition: all 0.01s;

    background: rgba(255,255,255,0);

    cursor: none;
    transition: all 0.2s;
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 100;
}

canvas.game-over {
    background: #181818;
}
#canvas-wrapper.badHit canvas{
    background: rgba(255,0,0,0.5);
}
#canvas-wrapper.goodHit canvas{
    background: rgba(0,255,0,0.4);
}

#score {
    color: rgba(0,0,0,0.5);
    left: 0;
    font-size: 6em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0.5;
    text-shadow: 0 0 1px #000000, 1px 1px 0 #ffffff;
    top: -6px;
    right: 0;
}

#score.updated {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    transform: scale(1.1);
}

.new-box, .other-player {
    /*
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
    */
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.2s;
    -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.2s;
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.2s;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.2s;

    position: absolute;
    width: 2px;
    height: 2px;

    opacity: 0;

    transform: scale(1);
    -wekit-transform: scale(1);
    -moz-transform: scale(1);
}

.other-player {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: -moz-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: -o-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    height: 80px;
    opacity: 0.7;
    position: absolute;
    width: 80px;

    transform: scale(0.1);
    -wekit-transform: scale(0.1);
    -moz-transform: scale(0.1);
}
.other-player p {
    font-size: 1.5em;
    left: 0;
    margin: 0;
    position: absolute;
    padding: 0;
    text-shadow: 1px 1px 0 #ffffff;
    top: -30px;
    width: 300px;
}

/* ======================================
 * 
 * title
 *
 * ====================================== */
#game-title {
}

#start-game {
    margin-top: 200px;
    z-index: 120;
}
.state-game #start-game {
    z-index: 0;
}

#canvas-wrapper.state-title,
#canvas-wrapper.state-title canvas,
#canvas-wrapper.state-gameOver,
#canvas-wrapper.state-gameOver canvas {
    cursor: default !important;
}


/* -------------------------------------------------------------------------
 *
 * Button 
 *
 * --------------------------------------------------------------------------*/
#button, .button {
    -webkit-transition: all 0.07s;
    -moz-transition: all 0.07s;
    -o-transition: all 0.07s;
    transition: all 0.07s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    background: #f0f0f0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
    outline: none;

 -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
 background-image: -o-linear-gradient(top, #4ba614, #008c00);
 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);



    
    border: none;
    border-left: solid 4px #103a09;
    border-right: solid 4px #103a09;
    border-top: solid 4px #103a09;
    border-radius: 100px;
    box-shadow: 0px 17px 0px 0px #103a09, 0 22px 0 0 rgba(255, 255, 255, 0);
    color: #fff;
    cursor: pointer;
    display: table;
    font-size: 4em;
    font-family: 'VT323', monospace;
    margin: 20px auto;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    top: 0;
    width: 300px;
    z-index: 9999999999;
}

.button:hover {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    transform: translate(0, -2px);
    box-shadow: 0px 19px 0px 0px #103a09, 0 24px 0 0 rgba(255, 255, 255, 0);
}

.button:active { 
  -webkit-transform: translate(0, 10px);
  -moz-transform: translate(0, 10px);
  transform: translate(0, 10px);
  box-shadow: 0 6px 0 0 #103a09, 0 29px 0 0 rgba(255, 255, 255, 0),inset 0px 1px 0px 0px #103a09;
}

/* ======================================
 * 
 * game over
 *
 * ====================================== */
#game-over {
    bottom: 80px;
    color: #ffffff;
    opacity: 0;
    text-align: center;
    text-shadow: 0 0 28px #000000, 1px 1px 28px #000000;
    transition: all 0.3s;
    z-index: 200;
}
#game-over h1,#game-over h2 {
    text-shadow: 1px 1px 0 #888, 2px 2px 0 #888, 3px 3px 0 #888;
}
#game-over h1 {
    margin-top: 1.2em;
}
#game-over h2 {
    margin-bottom: 0.1em;
}
#game-over h3 {
    margin: 0;
    padding: 0;
}
#game-over a {
    border-bottom: 1px solid #22ff22;
    color: #22ff22;
    text-shadow:  1px 1px 0 #000000, 2px 2px 0 #000000, 3px 3px 0 #000000;
    text-decoration: none;
}



/* reusable classes */
.center { 
    text-align: center;
}
.description {
    padding-top: 1em;
}
.description h2 {
    margin: 0 0 0.1em 0;
    padding: 0;
}
.description p {
    padding: 0;
    margin: 0;
}
.italic { font-style: italic; }

/* Custom animations */
@-webkit-keyframes animation-pulse {
	0% { -webkit-transform: scale(1); } 30% { -webkit-transform: scale(1.005); } 100% { -webkit-transform: scale(1); }
}
@-moz-keyframes animation-pulse {
	0% { -moz-transform: scale(1); } 30% { -moz-transform: scale(1.005); } 100% { -moz-transform: scale(1); }
}
@-keyframes animation-pulse {
	0% { transform: scale(1); } 30% { transform: scale(1.005); } 100% { transform: scale(1); }
}

.pulse {
    -webkit-animation: animation-pulse 300ms infinite;
    -moz-animation: animation-pulse 300ms infinite;
    animation: animation-pulse 300ms infinite;
}

@-webkit-keyframes animation-pulse-big {
	0% { -webkit-transform: scale(1); } 30% { -webkit-transform: scale(1.05); } 100% { -webkit-transform: scale(1); }
}
@-moz-keyframes animation-pulse-big {
	0% { -moz-transform: scale(1); } 30% { -moz-transform: scale(1.05); } 100% { -moz-transform: scale(1); }
}
@-keyframes animation-pulse-big {
	0% { transform: scale(1); } 30% { transform: scale(1.05); } 100% { transform: scale(1); }
}
.pulse-big {
    -webkit-animation: animation-pulse-big 300ms infinite;
    -moz-animation: animation-pulse-big 300ms infinite;
    animation: animation-pulse-big 300ms infinite;
}

/* --------------------------------------
 * responsive
 * -------------------------------------- */
@media only screen and (max-width : 800px) { 

}
